/*MENU 1440PX, ESCONDENDO BOTÃO DE HAMBURGUER E MOSTRA O NAVBAR NORMAL */
@media screen and (min-width: 560px) {
  div.menu-link {
    display: none;
  }

  /*FOOTER PARTE 2*/
  div.logo-footer {
    margin-top: 26px;
    margin-right: 40px;
  }

  div.logo-footer img {
    width: 160px;
    position: absolute;
    height: 30px;
  }

  /*FIM DE FOOTER 2*/

  div.logos {
    margin-top: 26px;
    margin-right: 40px;
  }

  div.logos img {
    position: absolute;
    height: 30px;
  }

  /*ICONES DE FOOTER*/

  .icons-footer-one {
    margin-top: 26px;
    margin-right: 40px;
    transform: translate(875px, 59px);
  }

  .icons-footer-two {
    margin-top: 26px;
    margin-right: 40px;
    transform: translate(925px, 59px);

  }

  .icons-footer-three {
    margin-top: 26px;
    margin-right: 40px;
    transform: translate(975px, 59px);

  }

  .icons-footer-four {
    margin-top: 26px;
    margin-right: 40px;
    transform: translate(1025px, 61px);
  }

  .icons-footer-five {
    margin-top: 26px;
    margin-right: 40px;
    transform: translate(1085px, 61px);
  }

  .border-footer {
    transform: translate(-75px, 156px);
    z-index: 3;
    position: relative;
    width: 201%;
  }

  .RD-Station {
    transform: translate(-355px, 187px);
    z-index: 3;
    position: relative;
    width: 201%;
  }

  /*FIM DE ICONES DE FOOTER*/

  div.logo {
    margin-top: 26px;
    margin-right: 40px;
  }

  div.logo img {
    width: 160px;
    position: absolute;
    height: 30px;
  }

  nav[role=navigation] {
    max-height: none;
    margin: 0px;
  }

  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    text-align: right;
  }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav[role=navigation] li a {
    display: block;
    padding: 0.8em;
    color: #0d0c0f;
    text-decoration: none;
    text-align: center;
    font-family: 'NunitoSans';
    font-weight: bold;
  }

  nav[role=navigation] ul li ul {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    display: none;
  }

  /*MENU DROPDOWN*/
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 70%;
    right: 10px;
    z-index: 4;
  }

  .dropdown {
    overflow: hidden;
  }

  .column {
    float: left;
    width: 27.69%;
    padding: 30px;
    background-color: #FFFFFF;
    height: 250px;
  }

  .column a {
    color: black;
    text-decoration: none;
    text-align: left !important;
    font-family: 'NunitoSans';
    font-weight: normal !important;
  }

  .column a:hover {
    text-align: left;
    font-family: 'NunitoSans';
    background-color: #ddd;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .menuTwo {
    top: 17px;
    position: relative;
  }

  .submenuTitle {
    text-align: left;
    font-family: 'DarkerGrotesque';
    color: #19C1CE;
  }

  /*FIM DROPDOWN*/

  .submenu {
    display: flex;
  }

  /*BOTÃO TELA GRANDE */

  .eye-open {
    cursor: pointer;
    z-index: 4;
    top: -3px;
    position: relative;
    left: -68px;
  }

  .btn-white {
    min-width: 60px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    height: 15px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid;
    background-color: #FFFFFF;
    color: #212429;
    top: 27px;
  }

  .btn-white:hover {
    background-color: rgba(0, 0, 0, 0.16);
    border: 3px solid #212429;
    color: #212429;
    cursor: pointer;
  }

  .arrow {
    margin-left: 7px;
  }

  .btn-white::after {
    content: "";
    display: block;
    position: absolute;
    top: 116%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 4px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }

  .btn-blue {
    min-width: 80px;
    position: relative;
    display: inline-block;
    height: 15px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid #19C1CE;
    background-color: #19C1CE;
    color: #212429;
    top: 27px;
  }

  .btn-blue:hover {
    background-color: #07E5EB;
    border: 3px solid #07E5EB;
    color: #212429;
    cursor: pointer;
  }

  .btn-blue::after {
    content: "";
    display: block;
    position: absolute;
    top: 116%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 3px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }

  .btn-yellow {
    min-width: 127px;
    position: absolute;
    display: inline-block;
    margin-right: 10px;
    height: 15px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid #F2BF4E;
    background-color: #F2BF4E;
    transform: translate(676px, 2737px);
    color: #212429;
    top: 9px;
  }

  .btn-yellow:hover {
    background-color: rgba(0, 0, 0, 0.16);
    border: 3px solid #212429;
    color: #212429;
    cursor: pointer;
  }

  .btn-yellow::after {
    content: "";
    display: block;
    position: absolute;
    top: 116%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 4px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }

  input[type="submit" i] {
    min-width: 127px;
    position: absolute;
    display: inline-block;
    margin-right: 10px;
    height: 24px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid #F2BF4E;
    background-color: #F2BF4E;
    transform: translate(-67px, 802px);
    color: #212429;
    top: 9px;
    z-index: 3;
  }

  .btn-yellow-form:hover {
    background-color: rgba(0, 0, 0, 0.16);
    border: 3px solid #212429;
    color: #212429;
    cursor: pointer;
  }

  .btn-yellow-form::after {
    content: "";
    display: block;
    position: absolute;
    top: 114%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 4px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }

  .btn-img-grey {
    min-width: 127px;
    position: absolute;
    display: inline-block;
    margin-right: 10px;
    height: 15px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid;
    background-color: #F1F3F5;
    transform: translate(169px, 3229px);
    color: #212429;
    top: 23px;
  }

  .btn-img-grey:hover {
    background-color: rgba(0, 0, 0, 0.16);
    border: 3px solid #212429;
    color: #212429;
    cursor: pointer;
  }

  .btn-img-grey::after {
    content: "";
    display: block;
    position: absolute;
    top: 114%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 4px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }

  .btn-end-blue {
    min-width: 144px;
    position: relative;
    display: inline-block;
    height: 15px !important;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    font-family: 'NunitoSans';
    font-weight: bold;
    font-size: 10px;
    transition: 0.5s;
    border: 3px solid #19C1CE;
    background-color: #19C1CE;
    transform: translate(188px, -7px);
    color: #212429;
    top: 9px;
  }

  .btn-end-blue:hover {
    background-color: rgba(0, 0, 0, 0.16);
    border: 3px solid #212429;
    color: #212429;
    cursor: pointer;
  }

  .btn-end-blue::after {
    content: "";
    display: block;
    position: absolute;
    top: 114%;
    left: calc(0% - 3px);
    width: calc(100% - 10px);
    border-top: 4px solid #000;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }
}